<button
  class="btn btn-primary btn-block"
  [disabled]="isConnected"
  data-toggle="modal"
  data-target="#myModal"
>
  Import collection
</button>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Import Collection</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group">
          <textarea
            class="form-control"
            rows="5"
            placeholder="Please enter stomp collection json here."
            [(ngModel)]="collection"
            wrap="off"
          ></textarea>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger btn-block"
          (click)="importCollection()"
        >
          import
        </button>
      </div>
    </div>
  </div>
</div>
