<div class="row">
  <div class="col-md-4">
    <p>Message Headers</p>
    <div class="form-group">
      <textarea
        class="form-control"
        rows="5"
        placeholder="{ key : value }"
      ></textarea>
    </div>
  </div>
  <div class="col-md-4">
    <p>Message body</p>
    <div class="form-group">
      <textarea
        class="form-control"
        rows="5"
        placeholder="{ 'type' : 'SALE' }"
      ></textarea>
    </div>
  </div>
  <div class="col-md-4">
    <p>Message destination</p>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Message destination"
      />
    </div>
    <button class="btn btn-success btn-block">Send</button><br />
  </div>
</div>
