<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Websocket url to connect"
        [(ngModel)]="url"
      />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>Connect Headers</p>
    <div class="form-group">
      <textarea
        class="form-control"
        rows="5"
        placeholder="{ key : value }"
        [(ngModel)]="connectHeaders"
        wrap="off"
      ></textarea>
    </div>
  </div>
  <div class="col-md-4">
    <p>Subscriptions</p>
    <div class="form-group">
      <textarea
        class="form-control"
        rows="5"
        placeholder="['/client/v1/error' , '/client/v1/payment']"
        [(ngModel)]="subscriptions"
        wrap="off"
      ></textarea>
    </div>
  </div>
  <div class="col-md-4">
    <br />
    <br />
    <button
      class="btn btn-success btn-block"
      (click)="connect()"
      [disabled]="isConnected"
    >
      Connect</button
    ><br />
    <button
      class="btn btn-danger btn-block"
      [disabled]="!isConnected"
      (click)="disconnect()"
    >
      Disconnect</button
    ><br />
  </div>
</div>
